{% extends 'base.html'%}

{% block title %}Pet List{% endblock %}

{% block content %}

<h1>Pets</h1>


{% for pet in pets %}
    {% if pet.photo_url %}
    <img src={{pet.photo_url}} alt="">
    {% endif %}
    {% if pet.avaliable %}
    <a href="{{ '/%s'%pet.id }}"><p>{{pet.name}} <b>is avaliable!</b></p></a>
    {% else %}
    <a href="{{ '/%s'%pet.id }}"><p>{{pet.name}} is no longer avaliable</p></a> 
    {% endif %}
{% endfor %}


<form action="/add" method="GET">
    <button>Add a Pet</button>
</form>

{% endblock%}